html,body, #app,.n-config-provider {
    height: 100%;
}

.svg-icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

:root {
    --header-height: 60px;
    --traffic-light-width: 78px;
    --traffic-light-height: 40px;
}
